
#intro{
    background-color: #F3FDE8;
    margin: 0 auto;
    font-size: 18px;
}
h1 {
    color: #CAEDFF
}
h2{
    color: #D8B4F8;
}
h3{
    color: #FFC7EA;
}
#Send {
  background-image: url("image/footer-background.jpg");
  background-repeat: repeat;
  text-align: center;
}
h1, h2, h3, h4 {
    text-shadow: 2px 2px black; 	
font-size: 24px;
}
table, th, td {
    border: 1px solid;
  }
.avatar{
    text-align: center;
}

nav{
    text-shadow: 1px 1px black; 	
    text-align: center;
    background-color: aquamarine;
    font-size: 20px;
}
footer{
    text-align: center;
    background-color: aquamarine;
    color: rgb(242, 78, 7);
    font-size: 20px;
}
